logic-app.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Delay": {
                "inputs": {
                    "interval": {
                        "count": 8,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Post_a_tweet": [
                        "Succeeded"
                    ]
                },
                "type": "wait"
            },
            "Delay_2": {
                "inputs": {
                    "interval": {
                        "count": 7,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Post_a_tweet_3": [
                        "Succeeded"
                    ]
                },
                "type": "wait"
            },
            "HTTP": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://corona.lmao.ninja/all"
                },
                "runAfter": {},
                "type": "Http"
            },
            "HTTP_2": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://corona.lmao.ninja/countries/Canada"
                },
                "runAfter": {
                    "Delay_2": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTP_3": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://corona.lmao.ninja/countries/US"
                },
                "runAfter": {
                    "Delay": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "properties": {
                            "cases": {
                                "type": "integer"
                            },
                            "deaths": {
                                "type": "integer"
                            },
                            "recovered": {
                                "type": "integer"
                            },
                            "updated": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Parse_JSON_2": {
                "inputs": {
                    "content": "@body('HTTP_2')",
                    "schema": {
                        "properties": {
                            "active": {
                                "type": "integer"
                            },
                            "cases": {
                                "type": "integer"
                            },
                            "casesPerOneMillion": {
                                "type": "integer"
                            },
                            "country": {
                                "type": "string"
                            },
                            "countryInfo": {
                                "properties": {
                                    "_id": {
                                        "type": "integer"
                                    },
                                    "flag": {
                                        "type": "string"
                                    },
                                    "iso2": {
                                        "type": "string"
                                    },
                                    "iso3": {
                                        "type": "string"
                                    },
                                    "lat": {
                                        "type": "integer"
                                    },
                                    "long": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "critical": {
                                "type": "integer"
                            },
                            "deaths": {
                                "type": "integer"
                            },
                            "deathsPerOneMillion": {
                                "type": "integer"
                            },
                            "recovered": {
                                "type": "integer"
                            },
                            "todayCases": {
                                "type": "integer"
                            },
                            "todayDeaths": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_2": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Parse_JSON_3": {
                "inputs": {
                    "content": "@body('HTTP_3')",
                    "schema": {
                        "properties": {
                            "active": {
                                "type": "integer"
                            },
                            "cases": {
                                "type": "integer"
                            },
                            "casesPerOneMillion": {
                                "type": "integer"
                            },
                            "country": {
                                "type": "string"
                            },
                            "countryInfo": {
                                "properties": {
                                    "_id": {
                                        "type": "integer"
                                    },
                                    "flag": {
                                        "type": "string"
                                    },
                                    "iso2": {
                                        "type": "string"
                                    },
                                    "iso3": {
                                        "type": "string"
                                    },
                                    "lat": {
                                        "type": "integer"
                                    },
                                    "long": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "critical": {
                                "type": "integer"
                            },
                            "deaths": {
                                "type": "integer"
                            },
                            "deathsPerOneMillion": {
                                "type": "integer"
                            },
                            "recovered": {
                                "type": "integer"
                            },
                            "todayCases": {
                                "type": "integer"
                            },
                            "todayDeaths": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_3": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Post_a_tweet": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/posttweet",
                    "queries": {
                        "tweetText": "Latest Global #COVID19 cases => \n Confirmed: @{body('Parse_JSON')?['cases']} \n Recovered: @{body('Parse_JSON')?['recovered']} \n Deaths: @{body('Parse_JSON')?['deaths']} \n #COVIDCanada #COVID2019 #StayHome #StayHomeCanada"
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Post_a_tweet_2": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/posttweet",
                    "queries": {
                        "tweetText": "Latest #Canada #COVID19 cases => \n Confirmed: @{body('Parse_JSON_2')?['cases']} \n Recovered: @{body('Parse_JSON_2')?['recovered']} \n Deaths: @{body('Parse_JSON_2')?['deaths']} \n Criticals:@{body('Parse_JSON_2')?['critical']} \n Today Cases: @{body('Parse_JSON_2')?['todayCases']} \n Today Deaths: @{body('Parse_JSON_2')?['todayDeaths']} \n Cases Per Million: @{body('Parse_JSON_2')?['casesPerOneMillion']} \n Deaths Per Million: @{body('Parse_JSON_2')?['deathsPerOneMillion']} \n #COVIDCanada #COVID2019 #StayHome #StayHomeCanada"
                    }
                },
                "runAfter": {
                    "Parse_JSON_2": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Post_a_tweet_3": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/posttweet",
                    "queries": {
                        "tweetText": "Latest USA #uscoronavirus #COVID19 cases => \n Confirmed: @{body('Parse_JSON_3')?['cases']} \n Recovered: @{body('Parse_JSON_3')?['recovered']} \n Deaths: @{body('Parse_JSON_3')?['deaths']} \n Criticals:@{body('Parse_JSON_3')?['critical']} \n Today Cases: @{body('Parse_JSON_3')?['todayCases']} \n Today Deaths: @{body('Parse_JSON_3')?['todayDeaths']} \n Cases Per Million: @{body('Parse_JSON_3')?['casesPerOneMillion']} \n Deaths Per Million: @{body('Parse_JSON_3')?['deathsPerOneMillion']} \n #usaCoronavirus #COVID2019 #StayHome #StayHomeCanada"
                    }
                },
                "runAfter": {
                    "Parse_JSON_3": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 90
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "twitter_1": {
                    "connectionId": "/subscriptions/9057c309-3427-4108-b5da-b4ed0faa2873/resourceGroups/covid19/providers/Microsoft.Web/connections/twitter",
                    "connectionName": "twitter",
                    "id": "/subscriptions/9057c309-3427-4108-b5da-b4ed0faa2873/providers/Microsoft.Web/locations/canadacentral/managedApis/twitter"
                }
            }
        }
    }
}